# Adding Latitude and Longitude data to Toronto_Boroughs

### Importing relevant libraries:

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
#!conda install  -c conda-forge geocoder --yes
import geocoder

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

### Loading Toronto_Boroughs csv into Dataframe:

In [2]:
tb_df = pd.read_csv('Toronto_Boroughs.csv')
tb_df = tb_df.drop(['Unnamed: 0'], axis=1)
tb_df.head()

  postcodes     boroughs                           neighborhoods
0       M1B  Scarborough                          Rouge, Malvern
1       M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough       Guildwood, Morningside, West Hill
3       M1G  Scarborough                                  Woburn
4       M1H  Scarborough                               Cedarbrae

### Loading Location Data into Dataframe:

In [3]:
latlng_df = pd.read_csv('Geospatial_Coordinates.csv')
latlng_df.rename(columns={'Postal Code':'postcodes'}, inplace=True)
latlng_df.head()

  postcodes   Latitude  Longitude
0       M1B  43.806686 -79.194353
1       M1C  43.784535 -79.160497
2       M1E  43.763573 -79.188711
3       M1G  43.770992 -79.216917
4       M1H  43.773136 -79.239476

### Merging previous two Dataframes:

In [4]:
combo_df = pd.merge(tb_df, latlng_df, how='outer', on='postcodes')
combo_df.head()

,postcodes,boroughs,neighborhoods,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [5]:
combo_df.shape

(103, 5)

### Exporting new merged Dataframe to csv:

In [6]:
combo_df.to_csv('Postcodes_LatLng.csv')

In [7]:
combo_df.shape

(103, 5)